

<head>
    <title>Todo List</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>

<body>
    <div class="login">
        <div class="login-form">
            <form action="/signup" method="POST">
                <h3>Username:</h3>
                <input type="text" placeholder="Username" name="username" value = '<%=  (typeof form === 'undefined' ? '' : form.username) %>' />
                <br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" name="password" value = '<%= ( typeof form === 'undefined' ? '' : form.password) %>' />
                <br>
                <h3>Confirm Password:</h3>
                <input type="password" placeholder="Confirm Password" name="confirm_password" value = '<%= ( typeof form === 'undefined' ? '' : form.confirm_password) %>' />
                <br>
                <h3>Email:</h3>
                <input type="text" placeholder="Email" name="email" value = '<%= ( typeof form === 'undefined' ? '' : form.email) %>' />
                <br>
                <input type="submit" value="Submit" class="login-button" />
                <br>
            </form>
        </div>
    </div>

    <% if(typeof errors != 'undefined'){ %>
    <ul>
        <% errors.forEach(error => { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    <% } %>
</body>